// COLORS
$color-primary: #151515;
$color-static: #575757;
$color-link-hovered: #6A983C;
$color-green:#6a983c;
$color-black:#151515;
$color-dark:#575757;
$color-gray:#a9a9a9;
$color-bg-light-gray:#f5f5f5;
$color-bg-dark-gray:#f9f9f9;
$color-border-dark-green:#46760a;

// FONTS
$open-sans: "Open Sans", "Arial", serif;
$poppins: "Poppins","Arial", sans-serif;
$font-stack: 'Poppins', 'Arial', sans-serif;
$font-static: 'Open Sans', 'Arial', sans-serif;
