/* CHOOSE */
.choose{
  // background-color: #F4F5F7;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 96px
}

.choose-title{
  @include list-unstyled;
  padding-top: 96px;
  margin-bottom: 16px;
  font-family: Public Sans;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.choose-info{
  @include list-unstyled;
  margin-bottom: 184px;
  font-family: Public Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  max-width: 635px;
}

.choose-list{
  @include list-unstyled;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.choose-item{
  width: calc(100% / 4 - 30px);
}

.choose-item:not(:last-child){
  margin-right: 30px;
}

.choose-item__img{
  margin-bottom: 40px;
}

.choose-item__title{
  font-family: Public Sans;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
  margin: 0;
  margin-bottom: 26px;
}

.choose-item__text{
  margin: 0;
  font-family: Public Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
}

/* MEDIA */

@include breakpoint-down (970px) {

  .choose-item{
    width: calc(100% / 2 - 70px);
    margin-bottom: 50px;
  }

  .choose-item:not(:last-child){
    margin-right: 0;
  }

  .choose-info{
    margin-bottom: 100px;
  }

  .choose-item__img{
    margin-bottom: 20px;
  }
}

@include breakpoint-down (810px){

  .choose{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@include breakpoint-down (570px){

  .choose{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }
}

@include breakpoint-down (530px){

  .choose-title{
    text-align: center;
    padding-top: 0;
  }

  .choose-info{
    text-align: center;
  }
}

@include breakpoint-down (490px){

  .choose-item{
    text-align: center;
    width: 100%;
  }
}