/* SITE-HEADER */
.site-header{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
}

.site-header__link{
  display: block;
  flex-shrink: 0;
  margin-right: 10px;
}

.site-header__nav{
  margin-right: 10px;
}

.site-header__nav-button{
  display: none;
}

.site-header__button{
  text-decoration: none;
  font-family: Public Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  padding: 8px 33px;
}

/* MEDIA */

@include breakpoint-down (810px){

  .site-header{
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-header__button{
    display: none;
  }
}

@include breakpoint-down (570px) {

  .site-header{
    padding-left: 25px;
    padding-right: 25px;
  }

  .site-header__nav{
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    right: -10px;
    height: 100vh;
    text-align: center;
    padding-left: 34px;
    padding-right: 24px;
    padding-top: 24px;
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001));
  }

  .site-header--open .site-header__nav{
    display: block;
  }

  .site-header__nav-button{
    display: block;
    width: 24px;
    height: 11px;
    background-image: url(../../img/hamburger.svg);
    border: none;
    background-color: transparent;
  }

  .site-header--open .site-header__nav-button{
    width: 20px;
    height: 20px;
    background-image: url(../../img/close.svg);
    background-repeat: no-repeat;
  }
}